
#search-output-container {
    width: 80%;
    margin: 0 auto;
}

#recent-videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 3%;
}

#recent-videos-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

